ProjetoFinal/BibliotecaDeClasses/IAdmin/ProjetoFinal/Web References/localhostIAdmin/WebServiceMedico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CadastrarMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="m" type="tns:Medico" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="tns:Endereco" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Medico">
        <s:complexContent mixed="false">
          <s:extension base="tns:Pessoa">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Crm" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Especializacao" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Pessoa">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataNascimento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="tns:Endereco" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Endereco">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CadastrarMedicoResponse">
        <s:complexType />
      </s:element>
      <s:element name="listarMedico">
        <s:complexType />
      </s:element>
      <s:element name="listarMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarMedicoResult" type="tns:ArrayOfMedico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMedico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Medico" nillable="true" type="tns:Medico" />
        </s:sequence>
      </s:complexType>
      <s:element name="excluirMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="m" type="tns:Medico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirMedicoResponse">
        <s:complexType />
      </s:element>
      <s:element name="filtroMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="filtroMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtroMedicoResult" type="tns:ArrayOfMedico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="m" type="tns:Medico" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="tns:Endereco" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarMedicoResponse">
        <s:complexType />
      </s:element>
      <s:element name="listaMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idMedico" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaMedicoResult" type="tns:ArrayOfMedico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEndereco">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idEndereco" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaEnderecoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaEnderecoResult" type="tns:ArrayOfEndereco" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEndereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Endereco" nillable="true" type="tns:Endereco" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadastrarMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarMedico" />
  </wsdl:message>
  <wsdl:message name="CadastrarMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="listarMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:listarMedico" />
  </wsdl:message>
  <wsdl:message name="listarMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:listarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="excluirMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:excluirMedico" />
  </wsdl:message>
  <wsdl:message name="excluirMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:excluirMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="filtroMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:filtroMedico" />
  </wsdl:message>
  <wsdl:message name="filtroMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:filtroMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="editarMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:editarMedico" />
  </wsdl:message>
  <wsdl:message name="editarMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:editarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="listaMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:listaMedico" />
  </wsdl:message>
  <wsdl:message name="listaMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:listaMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="listaEnderecoSoapIn">
    <wsdl:part name="parameters" element="tns:listaEndereco" />
  </wsdl:message>
  <wsdl:message name="listaEnderecoSoapOut">
    <wsdl:part name="parameters" element="tns:listaEnderecoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMedicoSoap">
    <wsdl:operation name="CadastrarMedico">
      <wsdl:input message="tns:CadastrarMedicoSoapIn" />
      <wsdl:output message="tns:CadastrarMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarMedico">
      <wsdl:input message="tns:listarMedicoSoapIn" />
      <wsdl:output message="tns:listarMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluirMedico">
      <wsdl:input message="tns:excluirMedicoSoapIn" />
      <wsdl:output message="tns:excluirMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="filtroMedico">
      <wsdl:input message="tns:filtroMedicoSoapIn" />
      <wsdl:output message="tns:filtroMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarMedico">
      <wsdl:input message="tns:editarMedicoSoapIn" />
      <wsdl:output message="tns:editarMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaMedico">
      <wsdl:input message="tns:listaMedicoSoapIn" />
      <wsdl:output message="tns:listaMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaEndereco">
      <wsdl:input message="tns:listaEnderecoSoapIn" />
      <wsdl:output message="tns:listaEnderecoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMedicoSoap" type="tns:WebServiceMedicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarMedico">
      <soap:operation soapAction="http://tempuri.org/CadastrarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMedico">
      <soap:operation soapAction="http://tempuri.org/listarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirMedico">
      <soap:operation soapAction="http://tempuri.org/excluirMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtroMedico">
      <soap:operation soapAction="http://tempuri.org/filtroMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarMedico">
      <soap:operation soapAction="http://tempuri.org/editarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaMedico">
      <soap:operation soapAction="http://tempuri.org/listaMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEndereco">
      <soap:operation soapAction="http://tempuri.org/listaEndereco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMedicoSoap12" type="tns:WebServiceMedicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarMedico">
      <soap12:operation soapAction="http://tempuri.org/CadastrarMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMedico">
      <soap12:operation soapAction="http://tempuri.org/listarMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirMedico">
      <soap12:operation soapAction="http://tempuri.org/excluirMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtroMedico">
      <soap12:operation soapAction="http://tempuri.org/filtroMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarMedico">
      <soap12:operation soapAction="http://tempuri.org/editarMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaMedico">
      <soap12:operation soapAction="http://tempuri.org/listaMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaEndereco">
      <soap12:operation soapAction="http://tempuri.org/listaEndereco" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMedico">
    <wsdl:port name="WebServiceMedicoSoap" binding="tns:WebServiceMedicoSoap">
      <soap:address location="http://localhost:12325/EasyMed.Service/WebServiceMedico.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMedicoSoap12" binding="tns:WebServiceMedicoSoap12">
      <soap12:address location="http://localhost:12325/EasyMed.Service/WebServiceMedico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>